# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# Data
data/raw/
data/interim/
data/processed/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/

# Streamlit
.streamlit/

# Env
.env
